.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	height: 100vh;
	background-image: url(../img/bg-image-main-screen.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
}
.navbar {
	display: flex;
}
.navbar-item {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	text-transform: uppercase;
	padding-right: 50px;
}
