* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slider {
	width: 800px;
	height: 300px;
	margin: 200px auto 50px;
	border: 2px solid black;
}

.slider-item {
	display: none;
	height: 100%;
	background-color: orange;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-family: sans-serif;
}

.slider-item:nth-child(2) {
	background-color: greenyellow;
}
.slider-item:last-child {
	background-color: red;
}

.slider-item.active {
	display: flex;
}

.btn-right {
	position: absolute;
	top: 50%;
	right: 140px;
	width: 30px;
	height: 30px;
	border-top: 5px solid black;
	border-right: 5px solid black;
	transform: rotate(45deg) translateY(-50%);
}
.btn-left {
	position: absolute;
	top: 50%;
	left: 140px;
	width: 30px;
	height: 30px;
	border-top: 5px solid black;
	border-left: 5px solid black;
	transform: rotate(-45deg) translateY(-50%);
}

.slider-nav {
	width: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav-item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #000;
}

.nav-item.active {
	background-color: red;
}
