* {
    margin: 0;
    padding: 0;
}


.background {
    padding: 20px;
    background-color: #c2c2c2;
    border: 2px solid rebeccapurple;
}

.pre-page {
    display: flex;
    margin-top: 300px;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

#word, #wordinput, #gminput {
    width: 300px;
    display: block;
    height: 30px;
    outline: none;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    padding: 0;
}

#word::placeholder {
    color: #c2c2c2;
}

#wordinput::placeholder {
    color: #c2c2c2;
}

#gminput::placeholder {
    color: #c2c2c2;
}

#gminput {
    margin-top: 5px;
}

#submit, #submitword {
    width: 300px;
    background-color: rebeccapurple;
    font-family: 'Saira', sans-serif;
    height: 30px;
    outline: none;
    border: none;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#submit:active, #submitword:active {
    background-color: purple;
}

.word {
    padding: 20px;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
}

.cube-space {
    opacity: 0;
}

.cube {
    font-size: 36px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: 3px solid rebeccapurple;
    color: rebeccapurple;
    font-family: 'Saira', sans-serif;
    text-align: center;
    background-color: #c2c2c2;
}

.game-ending {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2c2c2;
}

.winner {
    border: 2px solid limegreen;
}

.loser {
    border: 2px solid red;
}

.not-shown {
    display: none;
}

.attempt {
    margin-top: 80px;
    padding: 20px;
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: 'Saira', sans-serif;
    background-color: #c2c2c2;
    border-bottom: 3px solid rebeccapurple;
    border-top: 3px solid rebeccapurple;
}

.game-lost {
    color: red;
    font-weight: bold;
    font-family: 'Saira', sans-serif;
    font-size: 100px;
    margin-bottom: 10px;
}

.refresh {
    font-size: 24px;
    padding: 20px;
    width: 350px;
    margin-top: 40px;
    background-color: rebeccapurple;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.game-won {
    color: limegreen;
    font-weight: bold;
    font-family: 'Saira', sans-serif;
    font-size: 100px;
}

.mainCounter {
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'Saira', sans-serif;
    margin-bottom: 10px;
}

.booster {
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rebeccapurple;
    margin-top: 30px;
}

.lettersUsed {
    margin-top: 10px;
    font-size: 32px;
    color: rebeccapurple;
    text-align: center;
    font-family: 'Saira', sans-serif;
}

.perfect {
    color: green;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Saira', sans-serif;
}