* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contrainer {
}

.grid {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: grey;
	gap: 20px;
    padding: 20px;
}

.grid-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
	/* width: 100%; */
    border-radius: 10px;
}

.grid-child:first-child {
    grid-column: 1/5;
    background-color: red;
}
.grid-child:nth-child(2) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
    /* grid-column: 1/3;
    grid-row: 2/4; */
    background-color: blue;
}
.grid-child:nth-child(3){
     grid-column: 3/5;
     background-color: green;
}
.grid-child:nth-child(4) {
    grid-column: 3/4;
    background-color: violet;
}
.grid-child:last-child {
    grid-column: 4/5;
    background-color: violet;
}
/* .grid-child:first-child {
	background-color: green;
	grid-column: 1/4;
}
.grid-child:first-child {
	background-color: green;
	grid-column: 1/4;
} */
/* 
@media (max-width: 900px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 400px) {
	.grid {
		grid-template-columns: 1fr;
	}
} */
