/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* font-family: 'DM Serif Display', serif;
font-family: 'Open Sans', sans-serif; */

.card:first-child {
	display: grid;
	grid-template-columns: 15% 55% 30%;
	width: 900px;
	margin: 100px auto;
}
.card-service_date:first-child {
    font-weight: bold;
}